---
---
<meta http-equiv="refresh" content="0;url=/en/" />

<!DOCTYPE html>
<html>
  <head>
    <title>WeatherDude</title>
    <link rel="canonical" href="/en/" />
  </head>
  <body style="background: #000;">
    <script is:inline>
      window.location.pathname = '/en/';
    </script>
  </body>
</html>